* {
  border: 0;
  box-sizing: border-box;
  font-family: gidole;
  font-style: inherit;
  line-height: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "gidole";
  src: url(./assets/fonts/Gidole-Regular.ttf);
}

:root {
  --line-height-p: 2rem;
  --line-height-headers: 2.8rem;
  --margin-section: 4rem;
  --text-dark: #333333;
  --text-gradient: -webkit-linear-gradient(
    116.82deg,
    #6e0023 0%,
    #a90037 27.08%,
    #ba1e48 50.52%,
    #cb3c59 77.08%,
    #e78385 100%
  );
  --text-grey: #4c4c4c;
  --text-light: #ffffff;
  --text-size-default: 1.2rem;
}

a:active,
a:link,
a:visited {
  color: var(--text-light);
  text-decoration: none;
}

.text-gradient {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.flex-center {
  align-items: center;
  display: flex;
}

.flex-colum-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.home {
  background-image: url(./assets/img/shape.png);
  background-position: center center;
  background-size: 100% 1060px;
  height: 100vh;
}

section > h2 {
  font-size: 2.5rem;
}

header {
  color: var(--text-light);
  padding: 2.5% 0;
}

header > nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

header > nav > p {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: end;
  width: 15%;
}

header > nav > ul {
  display: flex;
  font-size: 1.05rem;
  font-weight: bold;
  justify-content: space-evenly;
  list-style: none;
  width: 50%;
}

.home__info {
  align-items: center;
  color: var(--text-light);
  display: flex;
  height: 62vh;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

.home__info > div {
  line-height: 4rem;
}

.home__info > div > p {
  font-size: 1.3rem;
}

.home__info > div > h1 {
  font-size: 4rem;
}

.home__info > img {
  width: 45%;
}

.about,
.skills,
.experience,
.projects {
  margin-top: var(--margin-section);
}

.about__bio {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.about__bio h3 {
  color: var(--text-dark);
  font-size: 2rem;
  line-height: var(--line-height-headers);
}

.about__bio p {
  color: var(--text-grey);
  font-size: var(--text-size-default);
  line-height: var(--line-height-p);
  margin-top: 0.8rem;
}

.about__bio svg {
  transform: translate(1rem, 0.3rem);
  width: 2rem;
}

.about__bio > div {
  width: 34%;
}

.about__bio > img {
  width: 24%;
}

.about__education {
  align-items: center;
  display: flex;
  font-size: var(--text-size-default);
  justify-content: space-evenly;
  margin-top: var(--margin-section);
}

.about__education h2,
.about__education h3,
.skills h3 {
  color: var(--text-dark);
  line-height: var(--line-height-headers);
}

.about__education a {
  color: var(--text-grey);
  line-height: var(--line-height-p);
  text-decoration: underline;
}

.about__education a:hover {
  transform: scale(0.9);
}

.academic {
  width: 20rem;
}

.academic > div {
  margin: 2rem 0;
}

.academic img {
  margin-right: 1rem;
  width: 20%;
}

.date {
  font-size: 1rem;
  font-weight: bold;
}

.timeline {
  background: linear-gradient(
    116.82deg,
    #6e0023 0%,
    #a90037 30.21%,
    #ba1e48 42.19%,
    #cb3c59 53.65%,
    #e78385 81.25%,
    #ffc7c9 100%
  );
  height: 18.8rem;
  margin-right: 1rem;
  transform: translateY(0.6rem);
  width: 0.23rem;
}

.timeline-item {
  background: linear-gradient(
    116.82deg,
    #ffc7c9 0%,
    #e78385 28.83%,
    #cb3c59 47.02%,
    #ba1e48 56.65%,
    #a90037 74.83%,
    #6e0023 100%
  );
  border-radius: 2rem;
  height: 1rem;
  position: absolute;
  width: 1rem;
  z-index: 1;
}

.timeline-item > div {
  background-color: #fff;
  border-radius: 1rem;
  height: 0.6rem;
  width: 0.6rem;
}

.center {
  transform: translate(0.2rem, 0.2rem);
}

.febrero19 {
  transform: translate(-0.4rem, 2.9rem);
}

.enero20 {
  transform: translate(-0.4rem, 6.1rem);
}

.abril20 {
  transform: translate(-0.4rem, 12rem);
}

.actualidad {
  transform: translate(-0.4rem, 21.9rem);
}

.skills > div {
  margin-top: var(--margin-section);
}

.skills h3 {
  margin-bottom: 2rem;
}

.skills img {
  width: 30%;
}

.skills,
.experience,
.projects {
  font-size: var(--text-size-default);
}

.skills p,
.skills ul,
.experience p,
.experience ul {
  color: var(--text-grey);
}

.technicals h3 {
  padding-left: 2rem;
}

.technicals p {
  font-weight: bold;
  margin-top: 1rem;
}

.technicals > div {
  display: grid;
  grid-gap: 2rem 2rem;
  grid-template-columns: repeat(5, 1fr);
}

.technicals > div > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 12rem;
}

.softs > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.softs p {
  background-image: url(./assets/img/test.png);
  background-repeat: no-repeat;
  background-size: 20rem;
  color: var(--text-dark);
  font-weight: bold;
  padding: 30px 70px;
  text-align: left;
}

.languages p {
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.languages > div {
  display: flex;
}

.languages > div > div {
  margin: 0 3.5rem;
}

.progress-bar {
  background-color: #c0c0c0;
  border-radius: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 3px 4px rgba(0, 0, 0, 0.25), inset 6px 2px 4px rgba(0, 0, 0, 0.25),
    inset 2px 4px 4px rgba(0, 0, 0, 0.28);
  height: 3rem;
  width: 25rem;
}

.progress {
  background-color: #df8b7c;
  border-radius: 3rem;
  height: 3rem;
}

.progress-100 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 3px 4px rgba(0, 0, 0, 0.25), inset 6px 2px 4px rgba(0, 0, 0, 0.25),
    inset 2px 4px 4px rgba(0, 0, 0, 0.28);
  width: 100%;
}

.progress-35 {
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25),
    inset 6px 2px 4px rgba(0, 0, 0, 0.25), inset 2px 4px 4px rgba(0, 0, 0, 0.28);
  width: 35%;
}

.experience > div {
  display: flex;
  justify-content: space-evenly;
  margin-top: var(--margin-section);
}

.experience h3 {
  color: var(--text-dark);
}

.experience-card {
  border-radius: 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  line-height: 1.6rem;
  padding: 2rem;
  width: 25%;
}

.experience-card > div {
  line-height: 2rem;
}

.experience-card > ul {
  list-style-type: circle;
  margin-top: 1rem;
  padding-left: 1.4rem;
}

.experience-card > ul > li {
  margin-bottom: 0.5rem;
}

.emphasis-card {
  background: linear-gradient(
    90deg,
    rgba(254, 82, 144, 0.5) 0%,
    rgba(255, 177, 153, 0.5) 100%
  );
}

.projects {
  color: var(--text-grey);
}

.projects img {
  box-shadow: -4px 0px 5px rgba(0, 0, 0, 0.25), 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.projects h4 {
  color: var(--text-dark);
}

.projects h4,
.projects p {
  margin: 0.5rem 0;
}

.projects a {
  color: var(--text-grey);
  text-decoration: underline;
}

.projects > div {
  display: grid;
  grid-gap: 2rem 0;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem 0;
}

.projects-card {
  border-radius: 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  height: 22rem;
  line-height: 1.6rem;
  margin: auto;
  padding: 2rem;
  width: 80%;
}

.projects-card i {
  margin-right: 0.5rem;
}

.projects-card > div {
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.projects-card > div > a {
  color: #8c8c8c;
}

.img-desktop {
  width: 40%;
}

.img-mobile {
  width: 12%;
}

footer {
  align-items: center;
  background: linear-gradient(
    116.82deg,
    #6e0023 0%,
    #a90037 30.21%,
    #ba1e48 42.19%,
    #cb3c59 53.65%,
    #e78385 81.25%,
    #ffc7c9 100%
  );
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  height: 15rem;
}

footer > div {
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 4rem;
  width: 50%;
}

footer > div > p {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  height: 3rem;
  padding-top: 0.35rem;
  text-align: center;
  width: 3rem;
}

footer > p {
  font-size: var(--text-size-default);
  margin-top: 2rem;
}

footer > div > p:hover {
  background-color: #e78385;
  transform: scale(0.9);
}

footer > div > p > a :hover {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  header > nav > p {
    width: 20%;
    font-size: 1.3rem;
  }

  header > nav > ul {
    width: 60%;
    font-size: 0.9rem;
  }

  .home {
    background-size: 100% 100%;
  }

  .home__info {
    width: 70%;
    height: 56vh;
  }

  .home__info > div {
    line-height: 2rem;
    margin-left: 2rem;
  }

  .home__info > img {
    width: 50%;
  }

  .home__info > div > h1 {
    font-size: 2.5rem;
    width: 60%;
    line-height: 2.5rem;
  }

  .home__info > div > p {
    font-size: 1.2rem;
  }

  .about {
    margin-top: 0;
  }

  .about__bio > img {
    width: 34%;
  }

  .about__education {
    flex-direction: column;
  }

  .courses {
    margin-top: 2rem;
  }

  .technicals > div {
    grid-template-columns: repeat(3, 1fr);
  }

  .softs h3 {
    margin-left: 8.5%;
  }

  .softs > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .languages {
    width: 74%;
  }

  .languages > div {
    flex-direction: column;
  }

  .languages > div > div {
    margin: 2rem auto;
  }

  .experience > div {
    flex-direction: column;
    align-items: center;
  }

  .experience-card {
    width: 60%;
    margin: 2rem;
  }

  .projects-card {
    height: 25rem;
  }
}

@media (max-width: 360px) {
  header > nav {
    display: none;
  }

  .home__info {
    flex-direction: column;
  }

  .home__info > div {
    width: 90%;
    line-height: 2.5rem;
    margin: 1rem 3rem 0 0;
  }

  .home__info > div > h1 {
    width: 100%;
  }

  .home__info > img {
    width: 65%;
    margin-left: 9.5rem;
  }

  .about__bio {
    flex-direction: column;
  }

  .about__bio h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  .about__bio svg {
    transform: translate(0.4rem, 0.3rem);
    width: 1.3rem;
  }

  .about__bio > div {
    width: 80%;
  }

  .about__bio > img {
    width: 70%;
    transform: translatey(-2rem);
  }

  .about__education {
    margin-top: 1rem;
  }

  .courses {
    margin: 0 2.5rem;
  }

  .timeline {
    height: 23rem;
    transform: translateY(-1.4rem);
  }

  .enero20 {
    transform: translate(-0.4rem, 8.1rem);
  }

  .abril20 {
    transform: translate(-0.4rem, 14rem);
  }

  .actualidad {
    transform: translate(-0.4rem, 25.9rem);
  }

  .technicals > div {
    grid-gap: 2rem 0rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .technicals > div > div {
    width: 10rem;
  }

  .skills h3 {
    margin-bottom: 0;
  }

  .softs > div {
    display: flex;
    flex-direction: column;
  }

  .languages > div > div {
    margin: 2rem 0;
  }

  .progress-bar {
    width: 100%;
  }

  .languages > div > div:nth-child(1) {
    margin-top: 1rem;
  }

  .experience {
    margin-top: 1rem;
  }

  .experience > div {
    margin-top: 3rem;
  }

  .experience-card {
    width: 80%;
    margin-top: 0;
    height: 25rem;
    overflow: scroll;
  }

  .projects > div {
    display: flex;
    flex-direction: column;
  }

  footer p {
    width: 50%;
    text-align: center;
  }

  footer > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-top: 2rem;
  }

  footer > p {
    font-size: 1rem;
  }
}
